*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(images/Lagos.jpeg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero
{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
h1
{
    font-size: 60px;
    letter-spacing: 15px;
    color: rgb(0, 0, 0);
}
hr
{
    width: 50%;
    margin: 30px auto;
    border: 1.5px solid #fff;
}
p
{
    font-size: 35px;
    margin-bottom: 30px;
}
#launch
{
   font-size: 40px;
   word-spacing: 20px;
   color: #fff;
}

.logo{
    text-align: center;
    padding-top: 1%;

}